Repository 957662/bianchn: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, php -l

feat: 独立Node.js后端API服务替代WordPress后端 Co-authored-by: monkeycode-ai <monkeycode-ai@chaitin.com>
  admin-panel/package-lock.json
  admin-panel/src/api/axios.js
  admin-panel/src/main.js
  admin-panel/src/router/index.js
  admin-panel/vite.config.js
  api-server/.env.example
  api-server/.gitignore
  api-server/README.md
  api-server/package-lock.json
  api-server/package.json
  api-server/src/app.js
  api-server/src/config/config.js
  api-server/src/middleware/auth.js
  api-server/src/middleware/errorHandler.js
  api-server/src/models/database.js
  api-server/src/routes/ai.js
  api-server/src/routes/auth.js
  api-server/src/routes/comments.js
  api-server/src/routes/deployment.js
  api-server/src/routes/gallery.js
  api-server/src/routes/posts.js
  api-server/src/routes/search.js
  api-server/src/routes/settings.js
  api-server/src/routes/stats.js
  api-server/src/routes/users.js
Due: eslint --fix, prettier --write

revert: 删除独立Node.js后端，使用WordPress作为后端 Co-authored-by: monkeycode-ai <monkeycode-ai@chaitin.com>
  api-server/.env.example
  api-server/.gitignore
  api-server/README.md
  api-server/package-lock.json
  api-server/package.json
  api-server/src/app.js
  api-server/src/config/config.js
  api-server/src/middleware/auth.js
  api-server/src/middleware/errorHandler.js
  api-server/src/models/database.js
  api-server/src/routes/ai.js
  api-server/src/routes/auth.js
  api-server/src/routes/comments.js
  api-server/src/routes/deployment.js
  api-server/src/routes/gallery.js
  api-server/src/routes/posts.js
  api-server/src/routes/search.js
  api-server/src/routes/settings.js
  api-server/src/routes/stats.js
  api-server/src/routes/users.js
Due: eslint --fix, prettier --write

fix: restore WordPress core and activate deployment plugin
  INSTALL_INFO.txt
  NATIVE_DEPLOYMENT.md
  README.md
  backup-db.sh
  check-deployment.sh
  check-env.sh
  check-system.sh
  commitlint.config.js
  deploy-enhanced.sh
  deploy.sh
  docker-compose.yml
  docker/nginx/conf.d/cors.conf
  docker/nginx/conf.d/default.conf
  docker/nginx/nginx.conf
  docker/php/Dockerfile
  docker/php/php-fpm.conf
  docker/php/php.ini
  init-db.sh
  install.sh
  nginx-production.conf
  quick-commit.sh
  restart-services.sh
  restart.sh
  restore-db.sh
  start-services.sh
  start.sh
  status.sh
  stop-services.sh
  stop.sh
  xiaowu-blog.service
Due: eslint --fix, prettier --write

feat: complete v2.0.0 major upgrade implementation
  wordpress/wp-content/plugins/xiaowu-ai/admin/image-generation.php
  wordpress/wp-content/plugins/xiaowu-ai/xiaowu-ai.php
  wordpress/wp-content/plugins/xiaowu-cloud-drive/admin/settings-page.php
  wordpress/wp-content/plugins/xiaowu-cloud-drive/includes/class-drive-manager.php
  wordpress/wp-content/plugins/xiaowu-cloud-drive/includes/class-file-sync.php
  wordpress/wp-content/plugins/xiaowu-cloud-drive/includes/providers/class-aliyun-drive.php
  wordpress/wp-content/plugins/xiaowu-cloud-drive/xiaowu-cloud-drive.php
  wordpress/wp-content/plugins/xiaowu-deployment/admin/css/admin.css
  wordpress/wp-content/plugins/xiaowu-deployment/admin/deployment-wizard.php
  wordpress/wp-content/plugins/xiaowu-deployment/admin/templates/wizard-page.php
  wordpress/wp-content/plugins/xiaowu-deployment/xiaowu-deployment.php
Due: prettier --write, php -l

fix: resolve PHP syntax errors in xiaowu-ai and xiaowu-deployment plugins
  wordpress/wp-config.php
  wordpress/wp-content/plugins/xiaowu-ai/xiaowu-ai.php
  wordpress/wp-content/plugins/xiaowu-deployment/xiaowu-deployment.php
Due: php -l

docs: update CHANGELOG with v2.0.0 bug fix notes
  CHANGELOG.md
Due: prettier --write

fix: multiple critical bug fixes and deployment detection enhancement
  wordpress/wp-config.php
  wordpress/wp-content/plugins/xiaowu-3d-gallery/includes/cdn-manager.php
  wordpress/wp-content/plugins/xiaowu-deployment/xiaowu-deployment.php
  wordpress/wp-content/plugins/xiaowu-search/xiaowu-search.php
Due: php -l

config: restore debug mode settings from production environment
  wordpress/wp-config.php
Due: php -l

feat: add intelligent deployment detection system
  wordpress/wp-content/mu-plugins/xiaowu-deployment-check.php
  wordpress/wp-content/plugins/xiaowu-deployment/admin/deployment-landing.php
  wordpress/wp-content/plugins/xiaowu-deployment/xiaowu-deployment.php
Due: php -l

docs: add deployment documentation
  DEPLOYMENT.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: any of: *.{js,vue,css,html,md,json}
  php -l: any of: *.php
